body {
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;

    /* TODO for the login form background; for board, make white areas white*/
    background-color: #E9EFFA;
}

/*----------------- UI -----------------*/
.kebab {
    height: 20px;
    width: 4.615px;
}

.dropdownWrapper, .customSelectContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dropdownButton, .customSelectButton {
    background-color: white;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    padding: 8px 16px;
    text-align: left;
    width: 416px;
}

.dropdownArrow, .selectArrow {
    color: #828FA3;
    font-size: 2rem;
    position: relative;
    top: 2px;
}

.dropdownOptions, .selectDropdown {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
    display: flex;
    flex-direction: column;
    height: 117px;
    justify-content: center;
    list-style: none;
    position: absolute;
    width: 416px;
    z-index: 1;
}

.selectedOption {
    color: #000112;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.selectDropdown input[type="radio"] {
    left: 0;
    position: absolute;
    visibility: hidden;
}

.option {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 2px 16px;
    transition: all 0.15s ease-out;
    width: 100%;

    color: #828FA3;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-transform: capitalize;
}

.option:nth-child(1) {
    border-radius: 8px 8px 0 0;
}

.option:nth-last-child(1) {
    border-radius: 0 0 8px 8px;
}

.option:hover {
    background-color: #efeff9;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.selectedOption {
    text-transform: capitalize;
}

/*----------------- LOGO -----------------*/
.logo {
    height: 26px;
    width: 153px;
}

/*----------------- FIELDS -----------------*/
.formField {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.fieldError {
    color: #EA5555;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fieldError::before {
    content: '* ';
}

/*----------------- BUTTONS -----------------*/
.button {
    border: none;
    font-style: normal;
    font-weight: 700;
    text-align: center;


    /*TODO check that this didn't affect board forms. if it did, create a custom width for the login button*/
    /*width: 255px;*/
    width: 100%;
}

.primary {
    background-color: #635FC7;
    color: white;
    transition: all 0.2s ease-out;
}

.primary:hover {
    background-color: #A8A4FF;
    transition: all 0.2s ease-out;
}

.secondary {
    /*background-color: rgba(99, 95, 199, 0.10);*/
    background-color: #efeff9;
    color: #635FC7;
    transition: all 0.2s ease-out;
}

.secondary:hover {
    /*background-color: rgba(99, 95, 199, 0.25);*/
    background-color: #dfdff3;
    transition: all 0.2s ease-out;
}

.danger {
    background-color: #EA5555;
    color: white;
    transition: all 0.2s ease-out;
}

.danger:hover {
    background-color: #FF9898;
    transition: all 0.2s ease-out;
}

.large {
    border-radius: 24px;
    font-size: 1.5rem;
    line-height: normal;
    height: 48px;
}

.small {
    border-radius: 20px;
    font-size: 1.3rem;
    line-height: 23px;
    height: 40px;
}

.iconX {
    background-color: transparent;
    border: none;
    color: #828FA3;
    transition: all 0.1s ease-out;
    width: 18px;
}

.button:hover, .iconX:hover {
    cursor: pointer;
}

.iconCloseButton:hover {
    color: #000112;
    transition: all 0.2s ease-out;
}

.deleteListItemButton:hover, .iconDeleteButton:hover {
    color: #EA5555;
    transition: all 0.2s ease-out;
}


.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
}

#addNewListButton {
    margin-top: 1rem;
}

#loginButton {
    margin-top: 8px;
}

#logoutButton {
    margin-left: 34px;
    margin-top: 56px;
    width: 120px;
}

/*----------------- LOGIN -----------------*/
.loginForm {
    background-color: white;
    border-radius: 6px;
    margin: auto;
    width: 480px;
    top: 100px;
    position: relative;

    padding: 24px;
    display: flex;
    flex-direction: column;
}


.loginHeading {
    color: #000112;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.loginError {
}

/*----------------- DASHBOARD -----------------*/
.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

/*----------------- SIDEBAR -----------------*/
.sidebar {
    background-color: white;
    overflow-y: auto;
}

.sidebarLogo {
    margin: 32px 0 50px 34px;
}

.sidebar > h1 {
    background-color: white;
    color: #828FA3;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 34px;
}

.boardsNav {
    padding-bottom: 56px;
}

.boards {
    list-style: none;
}

.iconBoard {
    margin-right: 16px;
    position: absolute;
    left: 34px;
}

.board {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    width: 276px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;

    transition: all 0.5s ease-out;
}

.current {
    background-color: #635FC7;
    border-radius: 0 100px 100px 0;
    color: white;

    transition: all 0.5s ease-out;
}

.boardLink {
    text-decoration: none;
    width: 276px;
    height: 48px;
    padding-left: 66px;
    display: flex;
    align-items: center;
    position: relative;
}

.boardLink:hover {
    cursor: pointer;
}

.board > .boardLink {
    color: #828FA3;
}

.board.current > .boardLink {
    color: white;
}

.board.createBoard > .boardLink {
    color: #635FC7;
}

/*----------------- MAIN BOARD -----------------*/
.mainBoard {
    border-left: 1px solid #E4EBFA;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
}

.mainBoardHeader {
    align-items: center;
    background-color: white;
    display: flex;
    height: 96px;
}

.mainBoardHeader h1 {
    color: #000112;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 24px;
    text-transform: capitalize;
}

.mainBoardHeaderActions {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    right: 24px;
    z-index: 2;
}

.mainBoard .button {
    margin-left: auto;
    margin-right: 24px;
    width: 164px;
}

.plus {
    bottom: 2px;
    position: relative;
}

#mainBoardHeaderKebab {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 24px;
}

#mainBoardHeaderKebab:hover {
    cursor: pointer;
}

/*----------------- BOARD MENU -----------------*/
.boardMenu, .taskMenu {
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px rgba(54, 78, 126, 0.25);
    display: flex;
    height: 94px;
    padding: 16px;
    position: absolute;
    width: 192px;
}

.boardMenu {
    right: 24px;
    top: 90px;
}

.taskMenu {
    height: 64px;
    top: 32px;
    right: 16px;
    width: 124px;
}

.boardMenuNav, .taskMenuNav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.taskMenuNav {
    gap: 4px;
}

.boardMenuNavItem, .taskMenuNavItem {
    color: #828FA3;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.boardMenuNavItem:hover, .taskMenuNavItem:hover {
    cursor: pointer;
}

.deleteBoard, .deleteTask {
    color: #EA5555;
}

/*----------------- CANVAS MAIN BOARD -----------------*/
.canvas {
    background-color: #F4F7FD;
    border-top: 1px solid #E4EBFA;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    padding-right: 24px;
}

/*----------------- EMPTY MAIN BOARD -----------------*/
.emptyMainBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.emptyBoardMsg {
    color: #828FA3;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*----------------- MAIN BOARD LISTS -----------------*/
.lists {
    display: flex;
    flex-direction: row;
}

.list {
    margin-left: 24px;
    margin-top: 24px;
    width: 280px;
}

.listHeader {
    display: flex;
    align-items: center;
    gap: 12px;
}

.listTitle {
    color: #828FA3;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.iconCircle {
    bottom: 5px;
    font-size: 4.5rem;
    position: relative;
}

/*----------------- TASKS -----------------*/
.tasks {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    padding-bottom: 24px;
}

.task {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(54, 78, 126, 0.10);
    min-height: 88px;
    padding: 20px 16px 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.task:hover {
    cursor: pointer;
}

.taskTitle {
    color: #000112;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.taskProgress {
    color: #828FA3;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.taskMenuButton {
    color: #828FA3;
    position: absolute;
    border: none;
    background-color: transparent;
    right: 16px;
    top: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.1s ease-out;
}

.taskMenuButton:hover {
    color: #000112;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

/*----------------- OVERLAY -----------------*/
.overlay {
    position: fixed;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*----------------- LIGHTBOX -----------------*/
.lightbox {
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    max-height: 648px;
    overflow: scroll;
    padding: 32px;
    width: 480px;
}

.closeLightboxForm {
    /*align-self: end;*/
}

.lightboxHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 24px;
    justify-content: space-between;
}

.lightbox h1 {
    color: #000112;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lightboxForm, .form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}

.lightboxField, .fieldBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.labelContainer, .labelBox {
    display: flex;
    flex-direction: row;
    gap: 1rem
}

.inputLabel, .dynamicListLabel .lightboxField label, .listsLabel, .selectLabel, .subtasksLabel {
    color: #828FA3;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-transform: capitalize;
}

.textInput, .textarea, .lightboxField input[type="text"], .lightboxField textarea {
    background-color: white;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    color: #000112;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    line-height: 23px;
    padding: 8px 16px;
    width: 416px;
}

.textarea, .lightboxField textarea {
    /*height: 134px;*/
    height: 72px;
    resize: none;
}

.lightbox .button {
    width: 416px;
}

/*----------------- CREATE NEW BOARD LIGHTBOX -----------------*/
.boardDetails, .taskContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.dynamicListWrapper, .startingLists, .subtasksContainer {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /*margin-bottom: 12px;*/
}

.dynamicListLabel, .startingList, .subtask {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dynamicListItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dynamicListInput, input[type="text"].startingListInput, input[type="text"].subtaskInput {
    background-color: white;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
    color: #000112;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    line-height: 23px;
    padding: 8px 16px;
    width: 385px;
}

.dynamicListInput::placeholder, input[type="text"].startingListInput::placeholder, input[type="text"].subtaskInput::placeholder {
    color: #000112;
    font-style: italic;
    opacity: 0.25;
}

/*----------------- ADD NEW TASK LIGHTBOX -----------------*/
.taskDetails, .taskInputsContainer, .fieldsWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/*----------------- DELETE BOARD WARNING LIGHTBOX -----------------*/
.warningMessage {
    color: #828FA3;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    margin: 18px 0;
}

.warningMessageSpan {
    color: #635FC7;
    font-weight: 900;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 6px;
}

.buttonsWrapperWarning {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/*----------------- TASK DETAILS LIGHTBOX -----------------*/
.taskWrapper, .taskContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.taskDescription {
    color: #828FA3;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
}

.subtasksWrapper, .subtasksCheckboxesContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.checkboxesWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkboxItem, .subtaskCheckboxItem {
    align-items: center;
    background-color: #F4F7FD;
    border-radius: 4px;
    color: #828FA3;
    display: flex;
    gap: 16px;
    height: fit-content;
    flex-direction: row;
    min-height: 40px;
    padding: 12px;
    width: 416px;
}

.checkboxItem:hover {
    background-color: #dfdff3;
    color: #000112;
}

input[type="checkbox"] {
    accent-color: #635FC7;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.checkboxLabel {
    color: #000112;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.checkboxLabel.checked {
    color: #828FA3;
    text-decoration: line-through;
}





